body {
background: url('back.png') repeat-y center center fixed;
background-size: cover;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: center;
height: 100%;
}

#main {
margin: 10%;
padding: 10px;
}

#header {
padding:10px;
background-color: rgb(207, 118, 118);
text-align: center;
font-size: 20px auto;
color: rgb(255, 255, 255);
height: 150px;
}

p {
  font-size: 10px;
  text-align: center;
  font-size: 20px ;
  background: rgb(207, 118, 118);
  color: white;
  height: 40px;
}

h2 {
  font-size: 10px;
  text-align: center;
  font-size: 20px ;
  background: rgb(207, 118, 118);
  color: white;
  height: 200px;
}

label {
display: auto ;
} 

.input-hidden {
  position: absolute;
  align-items: stretch;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px rgb(245, 219, 255);
}

input[type=radio] + label > img {
  border: 3px solid darkgray;
  width: 250px;
  height: 250px;
  padding: auto;
  align-items: auto;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
   scale(1.15);
}

button {
display: block;
align-items: center;
margin-top: 30px;
}
